{% load bootstrap4 %}
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}sdemikhov-Task-Manager{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'task_manager/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static  'task_manager/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'task_manager/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'task_manager/favicon-16x16.png' %}">
    {% bootstrap_css %}
    {% block head_extra %}
    {% endblock %}
</head>

<body>
    {% with request.resolver_match.url_name as url_name %}
        <header class="mb-5">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <div class="navbar-brand" >Task-Manager</div>
                        </li>
                        <li class="nav-item">
                            {% url 'index' as home_url %}
                            <a href="{% url 'index' %}" class="nav-link {% if url_name == 'index' %}active{% endif %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'create_task' %}" class="nav-link {% if url_name == 'create_task' %}active{% endif %}">New task</a></li>
                            <li><a href="{% url 'tasks' %}" class="nav-link {% if url_name == 'tasks' %}active{% endif %}">Tasks</a></li>
                            <li><a href="{% url 'statuses' %}" class="nav-link {% if url_name == 'statuses' %}active{% endif %}">Statuses</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'profile' %}" class="nav-link {% if url_name == 'profile' %}active{% endif %}">Profile</a></li>
                            <li><a href="{% url 'logout' %}" class="nav-link {% if url_name == 'logout' %}active{% endif %}">Log out</a></li>
                        {% else %}
                            <li><a href="{% url 'django_registration_register' %}" class="nav-link {% if url_name == 'django_registration_register' %}active{% endif %}">Register</a></li>
                            <li><a href="{% url 'login' %}" class="nav-link {% if url_name == 'login' %}active{% endif %}">Log in</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
    {% endwith %}
    <main role="main" class="">
        {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
    {% bootstrap_javascript jquery='full' %}
</body>
