{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager Create task
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>Create new task</h3>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}

                    {% bootstrap_form form %}
                    {% buttons %}
                        <input class="btn btn-dark" type="submit" value="Create">
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
