{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager delete status {{ object.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row ">
            <div class="col-sm-7">
                <h2>Delete status "{{ object.name }}", are you sure?</h2>
                <form method="POST" id="confirm-form"> 
                    {% csrf_token %} 
                </form>
            </div>
        </div>
        <div>
            <input form="confirm-form" class="btn btn-dark" type="submit" value="Yes" />
            <a  class="btn btn-dark" href="{% url 'statuses' %}">No</a> 
        </div>
    </div>
{% endblock %}
