{% extends "task_manager/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Task-Manager Edit status {{ status.name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <h2>Edit "{{ status.name }}" status:</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}

                    {% bootstrap_form form %}
                    {% buttons %}
                        <input class="btn btn-dark" type="submit" value="Save">
                        <a class="btn btn-dark" href="{% url 'statuses' %}">Back</a>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
