{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager Main page
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Task-Manager</h3>
        {% if user.is_authenticated %}
            {% if tasks %}
                <p3>Tasks assigned to me:</p3>
                <div class="list-group col-sm-5">
                    {% for task in tasks %}
                        <a href="{% url 'task_details' task.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">#{{ task.pk }} {{ task.name }}</h5>
                                <small class="text-muted">{{ task.creator.get_full_name }}</small>
                            </div>
                            <p class="mb-1">{{ task.description|truncatechars:200 }}</p>
                            <small class="text-muted">
                                {% for tag in task.tags.all %}
                                    <div class="badge">{{ tag.name }}</div>
                                {% endfor %}
                            </small>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <p>You have no tasks yet.</p>
            {% endif %}
        {% else %}
            <p>"This is the online demo of Task-Manager project."</p>
            <p>Register for an account and test its features:</p>
            <ul>
                <li>Create new and browse the tasks list</li>
                <li>Manage statuses for your working process</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
