{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager Main page
{% endblock %}

{% block content %}
    <div class="container">
        <h3>Task-Manager</h3>
        {% if user.is_authenticated %}
            Tasks created by you: {{ created_tasks_count }} Tasks assigned to you: {{ assigned_tasks_count }}
        {% else %}
            <p>"This is the online demo for uses to test Task-Manager and its features. All the data here is temporary and may be reset at any time."</p>
            <p>You should start to register for an account and then:</p>
            <ul>
                <li>Browse the tasks list and post a few updates on the tasks</li>
                <li>Create statuses for your working process.</li>
            </ul>
        {% endif %}
    </div>
{% endblock %}
