{% extends "task_manager/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Task-Manager Create status
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h3>Create new status:</h3>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form_errors form %}

                    {% bootstrap_form form %}
                    {% buttons %}
                        <input class="btn btn-dark" type="submit" value="Create">
                    {% endbuttons %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <h3>Available statuses:</h3>
                <ul class="list-group">
                    {% for status in statuses %}
                        <li class="list-group-item">
                            <p><strong>{{ status.name }}</strong></p>
                            <div>
                                <a class="btn btn-dark" href="{% url 'edit_status' status_id=status.pk %}">edit</a>
                                <a class="btn btn-dark" href="{% url 'delete_status' status_id=status.pk %}">delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
