{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager statuses
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h3>Statuses</h3>
                <a class="btn btn-dark mb-3" href="{% url 'create_status' %}">create new</a>
                <ul class="list-group">
                    {% for status in statuses %}
                        <li class="list-group-item">
                            <p><strong>{{ status.name }}</strong></p>
                            <div>
                                <a class="btn btn-dark" href="{% url 'edit_status' pk=status.pk %}">edit</a>
                                <a class="btn btn-dark" href="{% url 'delete_status' pk=status.pk %}">delete</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
