{% extends "task_manager/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Task-Manager Task #{{ task.pk }}
{% endblock %}

{% block head_extra %}
    <script src="{% static 'task_manager/editTask.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Task #{{ task.pk }}</h1>
        <h2>{{ task.name }}</h2>
        <div class="container bg-light m-3">
            <div class="row">
                <div class="col-xl m-1">Creator: {{ task.creator.get_full_name }}</div>
                <div class="col-xl m-1">Status: {{ task.status }}</div>
            </div>
            <div class="row">
                <div class="col-xl m-1">Assigned to: {{ task.assigned_to.get_full_name }}</div>
                <div class="col-xl m-1">Tags: {{ task.tags.all|join:" " }}</div>
            </div>
        </div>
        <h3>Description:</h3>
        <div class="container bg-light m-3">
            <div class="row">
                <div class="col-sm">{{ task.description }}</div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <input class="btn btn-dark mr-2" id="show-form-button" type="button" value="edit">
                    <a class="btn btn-dark" href="{% url 'delete_task' task.pk %}">delete</a>
                    <form id="edit-form" method="post" class="d-none m-3">
                        {% csrf_token %}
                        {% bootstrap_form_errors task_form %}
                        {% bootstrap_form_errors tag_form %}

                        {% bootstrap_form task_form %}
                        {% bootstrap_form tag_form %}
                        {% buttons %}
                            <input class="btn btn-dark" type="hidden" name="next" value="{{ request.path }}">
                            <input class="btn btn-dark" type="submit" value="Save">
                        {% endbuttons %}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
