{% extends "task_manager/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Task-Manager Tasks
{% endblock %}

{% block head_extra %}
    <script src="{% static 'task_manager/searchTasks.js' %}" defer></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4">
                <form>
                    {% bootstrap_form filter_type_form %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <form id="{{ filter_by_my_tasks.filter_type }}" hidden>
                    {% bootstrap_form_errors filter_by_my_tasks %}
                    {% bootstrap_form filter_by_my_tasks %}
                    {% buttons %}
                        <input type="hidden" name="filter_" value="{{ filter_by_my_tasks.filter_type }}">
                        <input class="btn btn-dark" type="submit" value="Search">
                    {% endbuttons %}
                </form>
                <form id="{{ filter_by_tags_form.filter_type }}" hidden>
                    {% bootstrap_form_errors filter_by_tags_form %}
                    {% bootstrap_form filter_by_tags_form %}
                    {% buttons %}
                        <input type="hidden" name="filter_" value="{{ filter_by_tags_form.filter_type }}">
                        <input class="btn btn-dark" type="submit" value="Search">
                    {% endbuttons %}
                </form>
                <form id="{{ filter_by_status_form.filter_type }}" hidden>
                    {% bootstrap_form_errors filter_by_status_form %}
                    {% bootstrap_form filter_by_status_form %}
                    {% buttons %}
                        <input type="hidden" name="filter_" value="{{ filter_by_status_form.filter_type }}">
                        <input class="btn btn-dark" type="submit" value="Search">
                    {% endbuttons %}
                </form hidden>
                <form id="{{ filter_by_assigned_to_form.filter_type }}" hidden>
                    {% bootstrap_form_errors filter_by_assigned_to_form %}
                    {% bootstrap_form filter_by_assigned_to_form %}
                    {% buttons %}
                        <input type="hidden" name="filter_" value="{{ filter_by_assigned_to_form.filter_type }}">
                        <input class="btn btn-dark" type="submit" value="Search">
                    {% endbuttons %}
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th class="w-20">Name</th>
                            <th class="w-30">Description</th>
                            <th class="w-10">Status</th>
                            <th class="w-10">Creator</th>
                            <th class="w-10">Assigned_to</th>
                            <th class="w-20">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if tasks %}
                            {% for task in tasks %}
                            <tr>
                                <td class="w-20 text-break"><a href="{% url 'task_details' task.pk %}">{{ task.name|truncatechars:100  }}</a></td>
                                <td class="w-30 text-break">{{ task.description|truncatechars:100 }}</td>
                                <td class="w-10 text-break">{{ task.status }}</td>
                                <td class="w-10 text-break">{{ task.creator.get_full_name }}</td>
                                <td class="w-10 text-break">{{ task.assigned_to.get_full_name }}</td>
                                <td class="w-20 text-break">{{ task.tags.all|join:", " }}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
