{% extends "task_manager/base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block title %}
    Task-Manager Task {{ task_form.name }}
{% endblock %}

{% block content %}
    <h3>Edit task:</h3>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form_errors task_form %}
        {% bootstrap_form_errors tag_form %}

        {% bootstrap_form task_form %}
        {% bootstrap_form tag_form %}
        {% buttons %}
            <input type="submit" value="Save">
        {% endbuttons %}
    </form>
{% endblock %}
