{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager password change
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 class="mb-3">Password change</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" value="Change">
            {% endbuttons %}
        </form>
    {% else %}
        <h2>You must log in first to change password!</h2>
    {% endif %}
{% endblock %}
