{% extends "task_manager/base.html" %}

{% load bootstrap4 %}

{% block title %}
    Task-Manager Password reset
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="mb-3">Password reset</h2>
                <form method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <input class="btn btn-dark" type="submit" value="Send email">
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
